<%- include('../../partials/header') %>
<h1><%= title %></h1>
<br>
<h2>edit your post here</h2>

<form id="edit-post" action="/profiles/<%= post._id %>?_method=PATCH"
    class="edit-form" method="POST">
    <label>edit your post here</label>
    <input type="text" name="content" value="<%= post.content %>">
    <input type="submit" value="submit">
</form>

<%- include('../../partials/footer') %>