<%- include('../../partials/header') %>

<% posts.forEach(function(post) { %>

    <div class="post">
        <div class="text"><%= post.content %></div>
        <div class="form-group">
            <form action="/profiles/<%= post._id %>/delete?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">delete</button>
            </form>
            <form action="/profiles/<%= post._id %>/edit"
                class="edit-form" method="GET">
                <button type="submit">edit</button>
            </form>
        </div>
    </div>
    <br><br>

    <% }); %>

<%- include('../../partials/footer') %>