<%- include('../../partials/header') %>

<% posts.forEach(function(post) { %>

    <div class="post">
        <div class="text">
            <form action="/profiles/<%= post._id %>/delete?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">X</button>
            </form> &nbsp;
            <form action="/profiles/<%= post._id %>/edit"
                class="edit-form" method="GET">
                <button type="submit">e</button>
            </form> &nbsp;
            <%= post.content %>
        </div>
        <br>
    </div>
    <br><br>

    <% }); %>

<%- include('../../partials/footer') %>