<%- include('../../partials/header') %>
<h1><%= title %></h1>
<br>
<h2><%= profile.username %>'s Profile</h2>
<div class="form-group">
    <form id="new-post" action="/<%= profile._id %>/posts/create" method="POST">
        <label>Write a new Post!</label><br>
        <textarea rows=3 type="text" name="content"></textarea><br>
        <input type="submit" value="submit">
    </form>
</div>

<%- include('../../partials/footer') %>